.header {
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
    padding: 10px 0;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    min-width: var(--min-width);
}

.header-links-prerender-hidden {
    display: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
    column-gap: 0.5rem;
}

.header-heading {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-right: 56px;
}

.header-heading a {
    text-decoration: none;
    color: var(--primary-50);
}

.p-menu {
    border: 0;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 0.75rem 0;
}

.p-sidebar-custom-header {
    padding-bottom: 0;
}

.p-sidebar-custom-header > h2 {
    margin-bottom: 0;
}

.menu-links {
    display: grid;
    grid-template-columns: auto 0.9fr;
    align-items: center;
    padding-left: 2em;
    margin: 0.5em 0;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.menu-links:hover {
    background-color: lightgray;
}

.menu-a, .menu-a:visited {
    text-decoration: none;
    color: black;
    text-align: left;
}

.menu-icon {
    width: max-content;
}

.menu-header-div {
    margin-left: 2em;
    display: flex;
}

.menu-header {
    text-align: left;
}

.menu-dropdown {
    font-size: 0.875rem;
    width: 3rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #06b6d4;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: none;
    padding: 0.65625rem 1.09375rem;
    margin: auto;
}

.menu-dropdown-in, .menu-dropdown-sub-in {
    margin: auto 1rem auto auto;
}

.menu-dropdown::before {
    content: "\e91d";
}

.menu-dropdown-in::before {
    content: "\e90b";
}

.menu-dropdown-sub-in::before {
    content: "\e900";
}

.menu-sidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: white;
    color: black;
    z-index: 1000;
    width: 18em;
    height: 100vh;
    max-height: 100vh;
    overflow-x: scroll;
}

.sub-menu-sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: white;
    color: black;
    z-index: 1000;
    width: 18em;
    height: 100vh;
    max-height: 100vh;
}

.menu-dropdown-input {
    display: none;
}

.menu-dropdown-input:not(:checked) + .menu-sidebar,
.menu-dropdown-input:not(:checked) ~ .menu-sidebar-shadow,
.menu-dropdown-input:not(:checked) + .sub-menu-sidebar {
    display: none;
}

.menu-links p {
    text-align: start;
    font-weight: bold;
    margin: 0;
}

.menu-sidebar-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.75;
}

@media only screen and (max-width: 690px) {
    .menu-sidebar {
        width: 100vw;
    }

    .sub-menu-sidebar {
        width: 100vw;
    }
}