.p-scrollpanel-bar {
    background-color: var(--primary-color);
}

.p-scrollpanel-content {
    overflow-x: hidden;
}

.p-tag, .p-component {
    flex-shrink: 0;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.image {
    padding: 10px;
    height: 20vh;
    width: fit-content;
    float: left;
}

.image-content-wrapper {
    display: inline-block;
    text-align: justify;
}

.margin-btm {
    margin-bottom: 1rem;
}

.p-divider-solid.p-divider-horizontal:before {
    color: var(--main-color);
    border-color: var(--main-color);
    border-width: 2px;
}

.p-divider-content {
    background-color: #f0f0f0;
}

@media only screen and (max-width: 950px) {
    .image {
        margin: auto;
    }
}

@media only screen and (max-width: 690px) {
    .image {
        margin: auto;
    }
}